<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jagadesh.hello-timestamp</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/jagadeshthangavelu/bin/brew_maintenance.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>21600</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/jagadeshthangavelu/Library/Logs/brew_maintenance_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/jagadeshthangavelu/Library/Logs/brew_maintenance_stderr.log</string>
</dict>
</plist>
